## ignore everything md except README.md and CHANGELOG.md
*.md
!README.md
!CHANGELOG.md
!docs/*
!SECURITY.md
!extension/README.md

## data/binaries (used for testing during development)
/data
cookies.txt
bin/*
*.db
.encryption_salt

## Coverage
coverage.out
coverage.html


## extension folder ignore list
*.zip
dist/
!PRIVACY.md

## Node.js dependencies (for vendor management)
node_modules/
package-lock.json