## ignore everything md except README.md
*.md
!README.md
!docs/*
!SECURITY.md
!extension/README.md

## data/binaries (used for testing during development)
/data
cookies.txt
bin/*

## Coverage
coverage.out
coverage.html


## extension folder ignore list
*.zip
dist/